.breadcrumbs
    padding-top 20px
    padding-bottom 20px

    > span
        width 100%
        max-width 1300px
        margin 0 auto
        display flex
        padding-left 15px
        padding-right 15px
        font-size .87rem

        a
            font-family WorkSans
            font-weight 400
            color $brownish-grey

        strong
            font-weight 600
            color $light-navy-blue

.single-product

    .at-share-btn-elements
        a
            width 32px
            height 32px

    .breadcrumbs

        span > span > span > span
            font-size:  0

            a
                font-size: 16px

            strong
                display none