@charset "utf-8";
/* Estilo Cinza para o sistema */

a { color: #666; }
.botao {
	background-color: #5E5E5E;
	background-image: url(../_imagens/sprite_background_hor.png);
	background-position: left -68px;
	border: 1px solid #5E5E5E;
                }
#barra-esquerda #menu-lateral li a.item {
	background-image: url(../_imagens/sprite_background_hor.png);
	background-position: right -211px;
	background-color: transparent;
                }
				
#barra-esquerda #menu-lateral li a.item:hover { color: #CCC; }

#barra-esquerda #menu-lateral li a.ativo { color: #333; }
                
#barra-esquerda #menu-lateral li a.ativo:hover { color: #666; }

#barra-esquerda #menu-lateral li a.item span.mostrar{
	background-image: url(../_imagens/icones/sprite_icones.png);
	background-position: left -692px;
                }
#barra-esquerda #menu-lateral li a.item span.esconder{
	background-image: url(../_imagens/icones/sprite_icones.png);
	background-position: right -692px;
                }

.paginacao a.ativo {
				background-color: #616161;
				background-image: url(../_imagens/sprite_background_hor.png);
				background-position: left -68px;
				background-repeat: repeat-x;
				border-color: #616161;
                }

.botao-atalho span:hover {	color: #333;   }
